@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

.menu {
  background-color: #fff;
  font-size: 1rem;
  z-index: 2;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-shadow: 0 1px 30px rgba(10, 10, 10, .08), 0 0 0 1px rgba(10, 10, 10, .01);
  box-shadow: 0 1px 30px rgba(10, 10, 10, .08), 0 0 0 1px rgba(10, 10, 10, .01);
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 240px !important;
  flex: 0 0 240px !important;
  width: 240px !important;
  max-width: 240px !important
}

.menu.is-small {
  font-size: .75rem
}

.menu.is-medium {
  font-size: 1.25rem
}

.menu.is-large {
  font-size: 1.5rem
}

.menu.is-fullheight {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: stretch;
  align-content: stretch
}

.menu.is-centered {
  text-align: center
}

.menu.is-right {
  text-align: right
}

.menu .menu-label {
  color: #7a7a7a;
  font-size: .75rem;
  letter-spacing: .1em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1em
}

.menu .menu-label:not(:last-child) {
  margin-bottom: 1em
}

.menu .menu-item {
  overflow: hidden;
  border-radius: 0;
  background-color: transparent;
  color: #4a4a4a;
  text-align: center;
  font-size: inherit
}

.menu .menu-item .menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  font-size: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7a7a7a;
  padding: 1rem
}

.menu .menu-item .icon {
  display: block;
  margin: auto;
  font-size: inherit;
  height: 1.5rem
}

.menu .menu-item.has-dropdown .menu-title {
  font-size: inherit
}

.menu .menu-item.has-dropdown .menu-title>.menu-caret {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  width: .5em;
  height: .5em;
  margin: .25em;
  border-top: .1em solid #7a7a7a;
  border-right: .1em solid #7a7a7a;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg)
}

.menu .menu-item.has-dropdown.is-active .menu-title>.menu-caret,
.menu .menu-item.has-dropdown.is-hoverable:hover .menu-title>.menu-caret {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.menu .menu-item.has-dropdown.is-active .menu-dropdown,
.menu .menu-item.has-dropdown.is-hoverable:hover .menu-dropdown {
  max-height: 100rem
}

.menu .menu-item:not(.has-dropdown) {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em
}

.menu .menu-item:not(.has-dropdown):hover {
  background-color: #f5f5f5;
  border-color: transparent
}

.menu .menu-item:not(.has-dropdown).is-active,
.menu .menu-item:not(.has-dropdown):active {
  background-color: transparent;
  border-color: #00d1b2;
  color: #fff
}

.menu .menu-list {
  line-height: 1.25
}

.menu .menu-list li .menu-dropdown {
  max-height: 0;
  border-left: .1em solid #f5f5f5;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  -webkit-transition: max-height .2s ease-in-out;
  transition: max-height .2s ease-in-out
}

.menu .menu-label {
  text-align: left;
  padding-left: 1em
}

.menu .menu-item {
  text-align: left
}

.menu .menu-item .icon {
  display: inline-block;
  margin-right: .5em !important
}

.menu .menu-item .menu-title {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1em
}

.menu .menu-item.has-dropdown .menu-title>.menu-caret {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.menu .menu-item.has-dropdown.is-active .menu-title>.menu-caret,
.menu .menu-item.has-dropdown.is-hoverable:hover .menu-title>.menu-caret {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg)
}

.menu .menu-dropdown .menu-item:not(.has-dropdown) {
  padding-left: calc($menu-item-padding + .75em)
}

.menu.is-collapsed {
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 90px !important;
  flex: 0 0 90px !important;
  width: 90px !important;
  max-width: 90px !important
}

.menu.is-collapsed .menu-label {
  text-align: center;
  padding-left: none
}

.menu.is-collapsed .menu-item {
  text-align: center
}

.menu.is-collapsed .menu-item:not(.has-dropdown) {
  padding-left: .5em;
  padding-right: .5em
}

.menu.is-collapsed .menu-item .icon {
  display: block;
  margin: auto !important
}

.menu.is-collapsed .menu-item .menu-title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.menu.is-collapsed .menu-item.has-dropdown .menu-title {
  padding-left: .5em;
  padding-right: .5em
}

.menu.is-collapsed .menu-item.has-dropdown .menu-title>.menu-caret {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg)
}

.menu.is-collapsed .menu-item.has-dropdown.is-active .menu-title>.menu-caret,
.menu.is-collapsed .menu-item.has-dropdown.is-hoverable:hover .menu-title>.menu-caret {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.menu.is-collapsed.is-hoverable:hover {
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 240px !important;
  flex: 0 0 240px !important;
  width: 240px !important;
  max-width: 240px !important
}

.menu.is-collapsed.is-hoverable:hover .menu-label {
  text-align: left;
  padding-left: 1em
}

.menu.is-collapsed.is-hoverable:hover .menu-item {
  text-align: left
}

.menu.is-collapsed.is-hoverable:hover .menu-item .icon {
  display: inline-block;
  margin-right: .5em !important
}

.menu.is-collapsed.is-hoverable:hover .menu-item .menu-title {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1em
}

.menu.is-collapsed.is-hoverable:hover .menu-item.has-dropdown .menu-title>.menu-caret {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.menu.is-collapsed.is-hoverable:hover .menu-item.has-dropdown.is-active .menu-title>.menu-caret,
.menu.is-collapsed.is-hoverable:hover .menu-item.has-dropdown.is-hoverable:hover .menu-title>.menu-caret {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg)
}

.menu.is-collapsed.is-hoverable:hover .menu-dropdown .menu-item:not(.has-dropdown) {
  padding-left: calc($menu-item-padding + .75em)
}

.menu.is-dark {
  background-color: #363636
}

.menu.is-dark .menu-item {
  color: #fff
}

.menu.is-dark .menu-item .menu-title {
  color: #fff
}

.menu.is-dark .menu-item .menu-title:hover {
  background-color: #5c5c5c
}

.menu.is-dark .menu-item:not(.has-dropdown):hover {
  background-color: #5c5c5c
}

.menu.is-dark .menu-label {
  color: #b5b5b5
}

.menu.is-dark .menu-list li .menu-dropdown {
  border-left: #292929;
  background-color: #292929
}

@media screen and (max-width:768px) {
  .menu.is-mobile {
    -webkit-box-shadow: 5px 0 13px 3px rgba(10, 10, 10, .1);
    box-shadow: 5px 0 13px 3px rgba(10, 10, 10, .1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    will-change: transform;
    left: -100%;
    position: absolute;
    display: block !important;
    z-index: 10;
    width: 240px;
    max-width: 75%
  }

  .menu.is-mobile.is-active {
    left: 0
  }
}

@media screen and (min-width:769px),
print {
  .menu.is-mobile {
    -webkit-box-shadow: 5px 0 13px 3px rgba(10, 10, 10, .1);
    box-shadow: 5px 0 13px 3px rgba(10, 10, 10, .1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    will-change: transform;
    left: -100%;
    position: absolute;
    display: block !important;
    z-index: 10;
    width: 240px;
    max-width: 75%
  }

  .menu.is-mobile.is-active {
    left: 0
  }
}

@media screen and (min-width:1088px) {
  .menu.is-mobile {
    position: relative;
    left: inherit
  }
}

.menu-burger {
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 50;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 4px
}

.menu-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition-duration: 86ms;
  transition-duration: 86ms;
  -webkit-transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, opacity, transform;
  transition-property: background-color, opacity, transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  width: 16px
}

.menu-burger span:nth-child(1) {
  top: calc(50% - 6px)
}

.menu-burger span:nth-child(2) {
  top: calc(50% - 1px)
}

.menu-burger span:nth-child(3) {
  top: calc(50% + 4px)
}

.menu-burger:hover {
  background-color: rgba(0, 0, 0, .05)
}

.menu-burger.is-active span:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg)
}

.menu-burger.is-active span:nth-child(2) {
  opacity: 0
}

.menu-burger.is-active span:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg)
}