<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="menu-burger burger is-hidden-desktop" data-target="#menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="columns is-gapless">
    <div id="menu" class="column is-2 menu is-hidden-mobile is-mobile is-active">
      <section class="section has-text-centered">
        <span class="icon is-large"><i class="fa-2x fas fa-home"></i></span>
      </section>

      <ul class="menu-list">


        <li>
          <a class="menu-item" href="/#">

            <span class="icon"><i class="fas fa-tachometer-alt"></i></span>

            Dashboard</a>
        </li>



        <li class="menu-item has-dropdown">
          <a class="menu-title">

            Settings
            <span class="menu-caret"></span>
          </a>
          <ul class="menu-dropdown">

            <li><a class="menu-item" href="/#">General</a></li>

            <li><a class="menu-item" href="/#">Users</a></li>

            <li><a class="menu-item" href="/#">Security</a></li>

          </ul>
        </li>



        <li class="menu-item has-dropdown">
          <a class="menu-title">

            Sub-level
            <span class="menu-caret"></span>
          </a>
          <ul class="menu-dropdown">

            <li><a class="menu-item" href="/#">Link 1</a></li>

            <li><a class="menu-item" href="/#">Link 2</a></li>

            <li><a class="menu-item" href="/#">Link 3</a></li>

          </ul>
        </li>



        <li>
          <a class="menu-item" href="/#">

            <span class="icon"><i class="fas fa-hands-helping"></i></span>

            Help</a>
        </li>


      </ul>

    </div>
    <div class="column">
      <section class="section">
        <h1 class="title is-4 has-text-weight-semibold has-text-centered">GeniusMenu <span
            class="is-size-5 has-text-primary has-text-weight-light">Demo</span></h1>
      </section>
      <section class="section">
        <div class="container is-fluid">
          <div class="has-text-centered">
            <h2 class="subtitle is-5 has-text-weight-light has-text-grey has-text-centered">Play with the style.</h2>
            <div class="buttons has-addons" style="justify-content: center;">
              <span class="button is-success is-selected" data-style="light">Light</span>
              <span class="button" data-style="dark">Dark</span>
            </div>

            <div class="buttons has-addons" style="justify-content: center;">
              <span class="button is-selected is-success" data-style="expanded">Expanded</span>
              <span class="button" data-style="collapsed">Collapsed</span>
            </div>

            <h2 class="subtitle is-5 has-text-weight-light has-text-grey has-text-centered">Change the viewport
              dimension to see it in action on mobile and tablet.</h2>
          </div>

        </div>
      </section>
    </div>
  </div>

  <script src="./assets/js/genius-menu.min.js"></script>
  <script src="./assets/js/main.js"></script>


</body>

</html>